 
body { 
    padding-top: 100px; 
    }
footer{
     
    width: 100%; /* Full width */
     background-color:#081c24;
     color: white;
     text-align: center;
     height: 50px;
     padding:15px;
    
}
#logo {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    line-height: 50px;
    color: #008C02;
    display:inline;
    margin-right: 50px;
}



#topmenu {

    background-color:#081c24;
    list-style-type: none;
    margin: 0;
    padding: 40px;

}
.movieCategory {
    display: inline;
    color: white;
    font-size: 18px;
    margin:20px;
}
.pass-add{
    background-color: white;
    font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 25px;
    border: 2px solid;
    border-radius: 15px;
    margin: 30px;
    margin-top: 15px;
    margin-bottom:15px;
    width: 100px;

}
#pass-add-container{
    text-align: center;
    background-color: white;
    border-bottom: 1px solid;
    border-color: #081c24;
    
}
#topNavigator{
     position: fixed; /* Set the navbar to fixed position */
    top: 0;
    width: 100%; /* Full width */

}



#movie{
    margin-top: 130px;
    margin-left: 10px;
    width:900px;
    border:1px solid;
    
}

#poster{
    float:left;
}
#desc{
    margin-left:350px;
    padding-left:100px;
    margin-top:50px;
}
#posterImage{
    width: 400px;
    height: 700px;
}

#showWatchlist{
     
    width: 200px
}
.clearfix.after{
         display:block;
         line-height: 0;
         height:0;
         clear: both;
}
#movieTitle{
    font-family : "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 40px;
}
#voteAverage{
    font-family : "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 25px;
}
.overview{
    font-family : "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 20px;
}
#overview{
     font-family : "Arial", Gadget, sans-serif;
    font-size: 18px;
}